.dropdown {
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  background-color: var(--color-sidebar);
  color: var(--color-text-primary);
  box-shadow: var(--shadow-sm);
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &:focus {
    border-color: var(--color-column-border);
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-color);
  }
}

.dropdown__option {
  font-family: var(--font-family);
}
