.list {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-lg);

  .list__title {
    color: var(--color-text-secondary);
    font-size: var(--spacing-md);
    font-weight: 700;
    text-transform: uppercase;
  }

  .list__item {
    color: var(--color-text-secondary);
    padding-left: var(--spacing-md);
  }

  .list__item-title {
    color: inherit;
  }

  .list__item--category {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);

    svg {
      stroke: var(--color-text-secondary);
    }
  }

  .list__item--active {
    color: var(--color-btn-background);
    
    svg {
      stroke: var(--color-btn-background);
    }
  }
}

.list--task {
  height: 100%;
  overflow-y: scroll;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}
