.list {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-sm);

  .list__title {
    color: var(--color-text-secondary);
    font-size: var(--spacing-md);
    font-weight: 700;
    text-transform: uppercase;
  }

  .list__item {
    color: var(--color-text-secondary);
    padding-left: var(--spacing-md);
  }

  .list__item-title {
    color: inherit;
  }

  .list__item--category {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);

    background-color: var(--color-sidebar);
    border-radius: var(--radius-md);
    padding: var(--spacing-xs) var(--spacing-sm);
    transition: all 150ms ease-in-out;

    svg {
      stroke: var(--color-text-secondary);
    }
  }

  .list__item--category:hover {
    box-shadow: var(--shadow-sm);
    background-color: var(--color-border);
  }

  .list__item--active {
    color: var(--color-btn-background);
    background-color: var(--focus-color);
    border-radius: var(--radius-md);
    padding: var(--spacing-xs) var(--spacing-sm);
    box-shadow: var(--shadow-md);

    svg {
      stroke: var(--color-btn-background);
    }
  }

  .list__item--active:hover {
    background-color: var(--focus-color);
    box-shadow: var(--shadow-md);
  }
}

.list--task {
  height: 100%;
  overflow-y: scroll;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}
