.task {
  border: 1px solid var(--color-border);
  background-color: var(--color-sidebar);

  border-radius: var(--radius-md);
  padding: var(--spacing-xl);
  box-shadow: var(--shadow-sm);
  transition: box-shadow 150ms ease-in-out;
}

.task:hover {
    box-shadow: var(--shadow-md);
}
