# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
!client/.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?


############################
# OS X
############################

server/final-project-strapi/.DS_Store
server/final-project-strapi/.AppleDouble
server/final-project-strapi/.LSOverride
server/final-project-strapi/Icon
server/final-project-strapi/.Spotlight-V100
server/final-project-strapi/.Trashes
server/final-project-strapi/._*


############################
# Linux
############################

server/final-project-strapi/*~


############################
# Windows
############################

server/final-project-strapi/Thumbs.db
server/final-project-strapi/ehthumbs.db
server/final-project-strapi/Desktop.ini
server/final-project-strapi/$RECYCLE.BIN/
server/final-project-strapi/*.cab
server/final-project-strapi/*.msi
server/final-project-strapi/*.msm
server/final-project-strapi/*.msp


############################
# Packages
############################

server/final-project-strapi/*.7z
server/final-project-strapi/*.csv
server/final-project-strapi/*.dat
server/final-project-strapi/*.dmg
server/final-project-strapi/*.gz
server/final-project-strapi/*.iso
server/final-project-strapi/*.jar
server/final-project-strapi/*.rar
server/final-project-strapi/*.tar
server/final-project-strapi/*.zip
server/final-project-strapi/*.com
server/final-project-strapi/*.class
server/final-project-strapi/*.dll
server/final-project-strapi/*.exe
server/final-project-strapi/*.o
server/final-project-strapi/*.seed
server/final-project-strapi/*.so
server/final-project-strapi/*.swo
server/final-project-strapi/*.swp
server/final-project-strapi/*.swn
server/final-project-strapi/*.swm
server/final-project-strapi/*.out
server/final-project-strapi/*.pid


############################
# Logs and databases
############################

server/final-project-strapi/.tmp
server/final-project-strapi/*.log
server/final-project-strapi/*.sql
server/final-project-strapi/*.sqlite
server/final-project-strapi/*.sqlite3


############################
# Misc.
############################

server/final-project-strapi/*#
server/final-project-strapi/ssl
server/final-project-strapi/.idea
server/final-project-strapi/nbproject
server/final-project-strapi/public/uploads/*
!server/final-project-strapi/public/uploads/.gitkeep
server/final-project-strapi/.tsbuildinfo
server/final-project-strapi/.eslintcache

############################
# Node.js
############################

server/final-project-strapi/lib-cov
server/final-project-strapi/lcov.info
server/final-project-strapi/pids
server/final-project-strapi/logs
server/final-project-strapi/results
server/final-project-strapi/node_modules
server/final-project-strapi/.node_history

############################
# Package managers
############################

server/final-project-strapi/.yarn/*
!server/final-project-strapi/.yarn/cache
!server/final-project-strapi/.yarn/unplugged
!server/final-project-strapi/.yarn/patches
!server/final-project-strapi/.yarn/releases
!server/final-project-strapi/.yarn/sdks
!server/final-project-strapi/.yarn/versions
server/final-project-strapi/.pnp.*
server/final-project-strapi/yarn-error.log

############################
# Tests
############################

server/final-project-strapi/coverage

############################
# Strapi
############################

server/final-project-strapi/.env
server/final-project-strapi/license.txt
server/final-project-strapi/exports
server/final-project-strapi/.strapi
server/final-project-strapi/dist
server/final-project-strapi/build
server/final-project-strapi/.strapi-updater.json
server/final-project-strapi/.strapi-cloud.json